@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
/* Primary */

--clr-purple-50: hsl(260, 100%, 95%);
--clr-purple-300: hsl(264, 82%, 80%);
--clr-purple-500: hsl(263, 55%, 52%);  

/* Neutral */
--clr-white: hsl(0, 0%, 100%);
--clr-bg-grey: hsl(0 0% 96.1%);
--clr-grey-100: hsl(214, 17%, 92%);
--clr-grey-200: hsl(0, 0%, 81%);
--clr-grey-400: hsl(224, 10%, 45%);
--clr-grey-500: hsl(217, 19%, 35%);
--clr-dark-blue: hsl(219, 29%, 14%);
--clr-black: hsl(0, 0%, 7%);

font-size: 13px;
font-family: Barlow Semi Condensed, sans-serif;
}

body {
    margin: 0;
    background-color: var(--clr-bg-grey);
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-grow: 1;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.testimonials {
    display: grid;
    gap: 2rem;
}

section {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem var(--clr-grey-200);
    min-width: 12rem
}

.author {
    display: flex;
    align-items: center;
}

.author-avatar {
    border-radius: 50%;
    border: 2px solid black;
    width: 2.2rem;
    margin-inline-end: 1.5rem;
}

.author-name {
    color: var(--clr-grey-100);
}

.author-title {
    color: var(--clr-grey-200);
}

.summary {
    padding: 1rem 0;
    font-size: 1.6rem;

}

blockquote {
    color: var(--clr-grey-200);
    margin: 0;
    font-size: 1.1rem;
}

.card-1 {
    background-color: var(--clr-purple-500);
    color: var(--clr-white);

    .author-avatar {
        border-color: var(--clr-purple-300);
    }
}

.card-2 {
    background-color: var(--clr-grey-500);
    color: var(--clr-white);

    .author-avatar {
        border-color: var(--clr-grey-200);
    }    
}

.card-3 {
    background-color: var(--clr-white);

    .author-avatar {
        border-color: var(--clr-grey-400);
    }    

    .author-name {
        color: var(--clr-grey-500);
    }

    .author-title {
        color: var(--clr-grey-400);
    }

    blockquote {
        color: var(--clr-grey-400);
    }  
}

.card-4 {
    background-color: var(--clr-dark-blue);
    color: var(--clr-white);

    .author-avatar {
        border-color: var(--clr-purple-300);
    }    
}

.card-5 {
    background-color: var(--clr-white);

    .author-avatar {
        border-color: var(--clr-grey-400);
    }    

    .author-name {
        color: var(--clr-grey-500);
    }

    .author-title {
        color: var(--clr-grey-400);
    }

    blockquote {
        color: var(--clr-grey-400);
    }  

}

footer { 
    font-size: 11px; 
    text-align: center; 
    margin-block-end: 0.25rem;
}
footer a { 
    color: hsl(228, 45%, 44%); 
}

@media (width > 900px) {
    .testimonials {
        max-width: 1100px;
        grid-template-columns: repeat(4, 1fr);
    }

    .card-1 {
        grid-column: 1 / span 2;
    }

    .card-3 {
        grid-row: 2;
    }

    .card-4 {
        grid-row: 2;
        grid-column: 2 / span 2;
    }

    .card-5 {
        grid-row: 1 / span 2;
    }
}